body {
	background-color: :green;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.box {
	height: 250;
	width: 100px;
	padding: 2px;
	/* margin: 10px; */
	border: 2px solid red;
	background-color: white;
	display: inline-block;
	font-size: 14px;
}

#boxes {
	font-size: 0;
}

#theBox {
	background-color: #273;
	position: relative;
	top: 20px;
	left: 30px;
}

